h1 {
        font-family: "Times New Roman", Times, serif; color: black;
        font-size: 24pt
        }
h2 {
        color: blue; font-size: 12pt;
        }
 h2 {
        color: white; text-align: center; font-size: 10pt;
        }